{% ckan_extends %}

{% block basic_fields_url %}
  {{ super() }}

  <div class="form-group control-medium">
      <div class="controls">
          <div class="form-group control-medium">
            <label class="control-label" for="field-custom_resource_text">{{ _('Year of Release') }}</label>
            <div class="controls ">
                <input id="field-custom_resource_text" type="number" min="1900" max="{{ h.fao_get_current_year() }}"
                       name="custom_resource_text" value="{{ data.custom_resource_text }}" placeholder="{{ _('Year of Release') }}"
                       class="form-control" step="1" onkeypress="return event.charCode != 46 && event.charCode != 43 && event.charCode != 45 && this.value.length < {{ h.fao_get_current_year()|length }} || event.charCode == 13" />
            </div>
          </div>
      </div>
  </div>

{% endblock %}
