{% ckan_extends %}

{% block basic_fields_description %}
  {{ super() }}

  {% for voc_name in ['fao_resource_type']  %}
  <div class="form-group control-medium">
    <label class="control-label" for="field-{{ voc_name }}">{{ _(voc_name) }}</label>
    <div class="controls">
      <select id="{{voc_name}}_code" name="{{voc_name}}" data-module="autocomplete">
        {% for tag_entry in h.fao_get_tags_for_vocab(voc_name)  %}
          {% set tag_id = tag_entry['name'] %}
          {% set tag_label = tag_entry['label'] %}
          <option value="{{ tag_id }}" {% if tag_id in data.get(voc_name, []) %}selected="selected"{% endif %}>{{ tag_label }}</option>
        {% endfor %}
      </select>
    {% set error = errors[voc_name] %}
    {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
    </div>
  </div>
  {% endfor %}

  <div class="form-group control-medium">
      <div class="controls">
          <div class="form-group control-medium">
            <label class="control-label" for="field-custom_resource_text">{{ _('Year of Release') }}</label>
            <div class="controls ">
                <input id="field-custom_resource_text" type="number" min="1900" max="{{ h.fao_get_current_year() }}"
                       name="custom_resource_text" value="{{ data.custom_resource_text }}" placeholder="{{ _('Year of Release') }}"
                       class="form-control" step="1" />
            </div>
          </div>
      </div>
  </div>
<script>
window.addEventListener("load", function(){
     $("#field-custom_resource_text").on("keydown", function(event){
         if (event.key === '.' || event.key === '+' || event.key === '-' || event.key.toLowerCase() === 'e'){
             return false;
         }
     });
});
</script>

{% endblock %}
