body {
    font-family: "Open Sans", sans-serif !important;
 background-image: url(/base/images/background-tile.png);
}

.homepage layout-1 {
    font-family: "Open Sans", sans-serif !important;
}

.masthead {
    min-height: 75px !important;
    padding: 20px 20px 10px 20px;
    background: #0D6CAC !important;
}
.site-footer, .homepage .module-search .module-content {
    background: #0D6CAC !important;
}

@media (min-width: 768px)
.hero {
    background: url(http://www.fao.org/fileadmin/templates/medium/images/cover/b25904053beeeb923b5d1634f469e68a.jpg);
}

.row {margin-bottom: 15px}
/* .media-item {width:215px !important } replaced with mediaqueries*/
.intro {margin-bottom: 15px !important}

.box h3 {font-weight: 400 !important; text-transform: uppercase; color: #0d6cac !important; font-size: 14px  !important}

.search .box h3 {color: #fff !important;}

.media-heading {text-transform: none !important; font-weight: 100 !important; font-size: 18px  !important}

.toolbar .breadcrumb {
    font-size: 12px !important;
    text-transform: uppercase;
}
.toolbar .breadcrumb a {
    color: #0d6cac !important;
}
.toolbar .breadcrumb .active a, .toolbar .breadcrumb a.active {
    font-weight: normal !important;
}

.search .panel {
    margin-left: -15px;
    margin-right: -15px;
}

@media (max-width:319px) {
.media-item {width:260px !important }
}

@media (min-width:320px) and (max-width:399px) {
.media-item {width:200px !important }
}

@media (min-width:400px) and (max-width:767px) {
.media-item {width:215px !important }
}

@media (min-width:768px) and (max-width:991px) {
.media-item {width:300px !important }
}

@media (min-width:992px) and (max-width:1199px) {
.media-item {width:215px !important }
}

@media (min-width:1200px) {
.media-item {width:265px !important }
}