{% extends "admin/base_vocab.html" %}

{% block vocab_content %}
<div>
    {% if errors%}
    <div class="error-explanation alert alert-error ">
        <p>{% trans %}The form contains invalid entries:{% endtrans %}</p>
        <ul>
            {% for error in errors%}
            <li data-field-label="Name">{% trans %}Name: {{error}}{% endtrans %}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if status == 'created' or status  == 'edited' %}
    <div class="error-explanation alert alert-success">
        <p>{% trans %}{{ vocab_label }} Tag {% if status  == 'edited' %}Edited{% else %}Created{%  endif %} Successfully{% endtrans %}</p>
    </div>
    {% endif %}
    <h3>{% if tag_id %}{% trans %}Edit{% else %}Add New {%  endif %} {{ vocab_label }} Vocabulary Tag{% endtrans %}</h3>
    <form method="post">
        <div class="form-group control-medium">
            <div class="controls">
                <div class="form-group control-medium">
                    <label class="control-label">
                        <span class="control-required">*</span>
                        {% trans %}Name{% endtrans %}
                    </label>
                    <div class="controls ">
                        <input type="text" name="tag_name" value="{{ tag_name }}" placeholder="vocabulary name"
                            class="form-control" min="2" max="100" required>
                    </div>
                </div>
            </div>
            <div class="controls">
                <div class="form-group control-medium">
                    <label class="control-label">
                        <span class="control-required">*</span>
                        Label(s)
                    </label>
                    {% for locale in h.get_available_locales() %}
                    <div class="input-group" style="margin-top: 2%;">
                        <label class="input-group-addon">{{ locale.display_name or locale.english_name }}</label>
                        <input class="form-control" id="{{ lang }}" type="text" name="{{ locale.identifier }}" {% if tag_name %}value="{{ labels.get(locale.identifier, '') }}"{% endif %} placeholder="" required>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-actions">
            <a class="btn btn-danger pull-left" href={% if tag_id %}/ckan-admin/vocabulary/delete/{{ vocab_name }}/tag/{{ tag_id }}{% else %}/ckan-admin/vocabulary/all/{{ vocab_name }}{% endif %} data-module="confirm-action">
                {% if tag_id %}{% trans %}Delete{% endtrans %}{% else %}Cancel{% endif %}
            </a>
            <button class="btn btn-primary" name="save" type="submit">{% trans %}Save Vocabulary{% endtrans %}</button>
        </div>
    </form>
</div>
{% endblock %}