{% extends "admin/base_vocab.html" %}

{% block vocab_content %}
<div>
    {% if errors%}
    <div class="error-explanation alert alert-error ">
        <p>The form contains invalid entries:</p>
        <ul>
            {% for error in errors%}
            <li data-field-label="Name">Name: {{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    {% if created == 'true' %}
    <div class="error-explanation alert alert-success">
        <p>{{ vocab_label }} Tag {% if tag_name %}Edited{% else %}Created{%  endif %} Successfully</p>
    </div>
    {% endif %}
    <h3>{% if tag_name %}Edit{% else %}Add New {%  endif %} {{ vocab_label }} Vocabulary</h3>
    <form method="post">
        <div class="form-group control-medium">
            <div class="controls">
                <div class="form-group control-medium">
                    <label class="control-label">
                        <span class="control-required">*</span>
                        Name
                    </label>
                    <div class="controls ">
                        <input type="text" name="tag_name" value="{{ tag_name }}" placeholder="vocabulary name"
                            class="form-control" min="2" max="100" required>
                    </div>
                </div>
            </div>
            <div class="controls">
                <div class="form-group control-medium">
                    <label class="control-label">
                        <span class="control-required">*</span>
                        Label(s)
                    </label>
                    {% for locale in h.get_available_locales() %}
                    <div class="input-group" style="margin-top: 2%;">
                        <label class="input-group-addon">{{ locale.display_name or locale.english_name }}</label>
                        <input class="form-control" id="{{ lang }}" type="text" name="{{ locale.identifier }}" value="{% if tag_name %} {{ labels.get(locale.identifier, '') }} {% endif %}" placeholder="" required>
                      </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="form-actions">
            <a class="btn btn-danger pull-left" href="#" data-module="confirm-action">Delete</a>
            <button class="btn btn-primary" name="save" type="submit">Save Vocabulary</button>
        </div>
    </form>
</div>
{% endblock %}