{% extends "admin/base_vocab.html" %}

{% block vocab_content %}
<div>
    {% if errors%}
    <div class="error-explanation alert alert-error ">
        <p>The form contains invalid entries:</p>
        <ul>
            {% for error in errors%}
            <li data-field-label="Name">Name: {{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <h3>Create/Edit new {{ vocab_name_name }}</h3>
    <form method="POST">
        <div class="form-group control-medium">
            <div class="controls">
                <div class="form-group control-medium">
                    <label class="control-label">
                        <span class="control-required">*</span>
                        Name
                    </label>
                    <div class="controls ">
                        <input type="text" name="name" value="{{name}}" placeholder="vocabulary name"
                            class="form-control" min="2" max="100" required>
                    </div>
                </div>
            </div>
            <div class="controls">
                <div class="form-group control-medium">
                    <label class="control-label">Label</label>
                    <div class="controls ">
                        <input type="text" name="label" value="" placeholder="vocabulary label" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="form-actions">
            <a class="btn btn-danger pull-left" href="#" data-module="confirm-action">Cancel</a>
            <button class="btn btn-primary" name="save" type="submit">Create Vocabulary</button>
        </div>
    </form>
</div>
{% endblock %}