{% extends "admin/base_vocab.html" %}

{% block vocab_content %}
<table>
  <thead>
    <th class="tag-name">{% trans %}Name{% endtrans %}</th>
    <th>{% trans %}Labels{% endtrans %}</th>
  </thead>
  {% for tag in tags %}
  <tr>
    <td class="tag-name">
      <a href="/ckan-admin/vocabulary/edit/{{vocab_name}}/tag/{{tag['id']}}">
        {{tag["display_name"]}}
      </a>
    </td>
    <td class="tag-label">{{ labels.get(tag["id"], '------') }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
