{% ckan_extends %}

{# This file is just for undoing the changes from the ratings plugin #}

{% block heading_title %}
    {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
{% endblock %}



{% block resources %}
{% if package.resources and not hide_resources %}
<p>
    {% if package.resources | length != 1%}
    <b>{{package.resources | length}} {{_("resources")}}</b>
    {% else %}
    <b>{{package.resources | length}} {{_("resource")}}</b>
    {% endif %}
</p>
  {% block resources_outer %}
    <ul class="dataset-resources list-unstyled">
      {% block resources_inner %}
        {% for resource in h.dict_list_reduce(package.resources, 'format') %}
        <li>
          <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label label-default" data-format="{{ resource.lower() }}">{{ resource }}</a>
        </li>
        {% endfor %}
      {% endblock %}
    </ul>
  {% endblock %}
{% endif %}
{% endblock %}
