{% ckan_extends %}

{% block organization_facets %}
    <div class="filters">
        <div>
            {% for facet in c.facet_titles %}
                {% if facet  in ['fao_resource_type', 'fao_activity_type', 'fao_geographic_focus']  %}
                    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, label_function=h.fao_voc_label_func(facet), extras={'id':c.group_dict.id}) }}
                {% else %}
                    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet, extras={'id':c.group_dict.id}) }}
                {% endif %}
            {% endfor %}
        </div>
        <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
    </div>
{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index', named_route=group_type + '_index' %}</li>
  <li class="active">{% link_for c.group_dict.display_name|truncate(50), controller='organization', action='read', id=c.group_dict.name, named_route=group_type + '_read' %}</li>
{% endblock %}