<div class="fao-about-container">
    <div class="fao-about-img">
        <div class="fao-about-thumbnail"></div>
    </div>
    <div class="fao-about-desc">
        <h2>The Climate Land Hub is:</h2>

        <p>
        Climate change may be one of, if not the strongest factor shaping the agricultural sectors of the future.
        Livestock, crops, forestry, but also fisheries and aquaculture already suffer under the impacts of climate change,
        while being part of the problem and part of the solution at the same time.
        </p>
        <p>
        The Climate and Land Hub (CL-Hub) aims to support this community in addressing their needs and in finding
        the most relevant knowledge resources to support their effort in tackling climate change in the agricultural sectors.
        </p>
        <p>
        By facilitating access to these valuable resources and experiences, we strive to support countries in the challenge
        to put their agricultural climate commitments into action – helping to achieve the current targets and enabling the
        international community to increase their ambition under the Paris Agreement.
        </p>
        <p>
        The hub also aims to support the integration of climate considerations into development projects and programmes
        including public and private agricultural investments that will lead to accomplish the Sustainable Development Goals.
        </p>
        <p>
        We believe that by providing this annotated overview of the different knowledge resources on climate and agriculture,
        our users will be able to select the most suitable and most relevant resource to overcome challenges and reach
        their objectives. Yet, this is just the beginning. We are looking forward to learn more about your experiences with
        this platform and your ideas how to further improve it.
        This project has the ambition to serve your needs. To do so even better, your feedback is most welcome!
        </p>
    </div>
</div>
