{% set count = dataset_count or -1 %}
<div class="fao-item-summary">
    <a href="{{ dataset_url }}" class="fao-item-header">
        {% if (thumbnail)%}
        <div class="fao-item-thumbnail" style="background-image: url('{{ thumbnail }}')"></div>
        {% else %}
        <div class="fao-item-thumbnail" style="background-image: url('{{ h.url_for_static('/base/images/ckan-logo.png') }}'); background-size: 85% 50%; background-color: #0f68a7;"></div>
        {% endif %}
        <div class="fao-item-title">
            <h3 title="{{ title }}">{{ h.truncate(title, length=45, whole_word=True) }}</h3>
        </div>
        <div class="fao-item-body">
            <div class="fao-item-body">
                {% if (count == -1) %}
                <div class="fao-item-count"></div>
                {% else %}
                    {% if (count == 0 or count == 1) %}
                    <div class="fao-item-count">{% trans %}{{ count }} Dataset{% endtrans %}</div>
                    {% else %}
                    <div class="fao-item-count">{% trans %}{{ count }} Datasets{% endtrans %}</div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </a>
</div>