{% set items = [
    { "title": "Global", "href": "/dataset?fao_geographic_focus=Global", "thumbnail": "/fao/images/world_512x256.jpg" },
    { "title": "Africa", "href": "/dataset?fao_geographic_focus=Africa", "thumbnail": "/fao/images/continent-africa_512x256.jpg" },
    { "title": "Asia", "href": "/dataset?fao_geographic_focus=Asia", "thumbnail": "/fao/images/continent-asia_512x256.jpg" },
    { "title": "America", "href": "/dataset?fao_geographic_focus=America", "thumbnail": "/fao/images/continent-america_512x256.jpg" }
] %}

<div class="container-fluid box">
    <div class="row">
        <div class="col-xs-8">
            <h3 class="heading">{{ _('Geographic Focus') }}</h3>
        </div>
        <div class="col-xs-4">
            <a href="/dataset">
                <div class="fao-item-see-all">{{_('See all')}}</div>
            </a>
        </div>
    </div>
    <div class="row">
        {% for item in items %}
        <div class="col-lg-3 col-md-3 col-sm-6">
            {% snippet 'home/snippets/fao_item_summary.html',
                title=item.title,
                dataset_url=item.href,
                thumbnail=item.thumbnail %}
        </div>
        {% endfor %}
    </div>
</div>
