{% set thumbnails = {
    'Database': '/fao/images/database_512x256.jpg',
    'Learning_material': '/fao/images/learning_material_512x256.jpg',
    'Methodologies_and_Guidelines': '/fao/images/methodologies_512x256.jpg',
    'Policy_Brief': '/fao/images/official_Docs_512x256.jpg'
} %}

{% set items = items or [] %}

<div class="fao-item-container">
    <div class="fao-item-container-head">
        <h3 class="heading"><strong>{{ _('Type of resources') }}</strong></h3>
        <a href="{{ h.url_for('search') }}">
            <div class="fao-item-see-all">{{_('See all')}}</div>
        </a>
    </div>
    <div class="fao-item-container-body box">
        {% for item in items %}
            {% set url = h.url_for(controller='package', action='search', fao_resource_type=item.name) %}
            {% snippet 'home/snippets/fao_item_summary.html',
                title=h.fao_voc_label('fao_resource_type', item.name) or item.display_name,
                dataset_url=url,
                dataset_count= item.count,
                thumbnail=item.thumbnail or thumbnails[item.name] or h.url_for_static('/base/images/fao/thumbnail-placeholder.png') %}
        {% endfor %}
    </div>
</div>
