<!-- S TEMPLATE 20180724-->
<div role="main">
    <div class="container">

        <!-- S INTRO TEXT -->
        <div class="row row1 intro">
            <div class="col-xs-12 box">
                <h2>Climate and Land Hub</h2>
                <p>The aim of this hub is to provide comprehensive resources to mobilize ambition and actions in the
                    agriculture and land sectors in relation to climate change. This hub intends to respond to countries
                    needs of stakeholder engagement and capacity development, facilitating access to effective tools,
                    guidance, policy advice and learning material in order to support decision makers and practitioners
                    to deliver on their climate and sustainable development goals. <br><br>
                    You can navigate through our resources by looking at climate change topics or at your specific
                    activity needs, as well as at a particular type of resources. You can then narrow down the results
                    using faceted search that allows you to choose one or more filters to progressively reduce the
                    resources, ensuring that the result is what you’re looking for.
                </p>
            </div>
        </div>
        <!-- E INTRO TEXT -->

        <!-- S SEARCH -->
        <div class="row row2 search">
            <div class="col-xs-12">
                <div class="panel">
                    {% block search %}
                    {% snippet 'home/snippets/search.html' %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <!-- E SEARCH -->

        <!-- S TOPICS -->
        <div class="row row3 topics">
            <div class="col-xs-12 box">

                <h3>Topics</h3>

                {% set topics = h.featured_group_org(['climate-change-adaptation', 'climate-change-mitigation', 'disaster-risk-reduction-and-disaster-risk-managment', 'food-security-and-nutrition']
                        , get_action='group_show', list_action='group_list', count = 4) %}

                 <ul class="media-grid" data-module="media-grid">

                    {% for group in topics %}
                          {% snippet 'home/snippets/fao_group_item.html', group=group, truncate=50, truncate_title=35 %}
                    {% endfor %}

                </ul>

                <ul class="pager">
                    <li class="next"><a href="/group">See all</a></li>
                </ul>

            </div>
        </div>
        <!-- E TOPICS -->

        <!-- S RESOURCES -->
        <div class="row row4 resources">
            <div class="col-xs-12 box">

                <h3>Type of resources</h3>

                <ul class="media-grid" data-module="media-grid">

                    <li class="media-item">
                        <img src="/fao/images/database.png" alt="database" class="media-image img-responsive">
                        <h3 class="media-heading">Database</h3>
                        <a href="/dataset?Q1=Database" title="Database" class="media-view">
                            <span>View all Databases</span>
                        </a>
                    </li>

                    <li class="media-item">
                        <img src="/fao/images/learning_material.png" alt="learning material"
                             class="media-image img-responsive">
                        <h3 class="media-heading">Learning Material</h3>
                        <a href="/dataset?Q1=Learning+Material" title="Learning Material" class="media-view">
                            <span>View all Learning Material</span>
                        </a>
                    </li>

                    <li class="media-item">
                        <img src="/fao/images/methodologies.png" alt="Methodologies and Guidelines"
                             class="media-image img-responsive">
                        <h3 class="media-heading">Methodologies and Guidelines</h3>
                        <a href="/dataset?Q1=Methodologies+and+Guidelines" title="Methodologies and Guidelines"
                           class="media-view">
                            <span>View all Methodologies and Guidelines</span>
                        </a>
                    </li>

                    <li class="media-item">
                        <img src="/fao/images/official_Docs.png" alt="Official Documents"
                             class="media-image img-responsive">
                        <h3 class="media-heading">Official Documents</h3>
                        <a href="/dataset?Q1=Official+documents" title="Official Documents" class="media-view">
                            <span>View all Official Documents</span>
                        </a>
                    </li>

                </ul>

                <ul class="pager">
                    <li class="next"><a href="/dataset">See all</a></li>
                </ul>

            </div>
        </div>
        <!-- S RESOURCES -->


        <!-- S ACTIVITIES -->
        <div class="row row5 activities">
            <div class="col-xs-12 box">

                <h3>Kind of activities</h3>

                <ul class="media-grid" data-module="media-grid">

                    <li class="media-item">
                        <img src="/fao/images/analysing.png" alt="Analysing Modelling CC"
                             class="media-image img-responsive">
                        <h3 class="media-heading">Analysing Modelling CC</h3>
                        <a href="/dataset?Q2=Analysing%2FModelling+CC" title="Analysing Modelling CC"
                           class="media-view">
                            <span>View all Analysing Modelling CC Activities</span>
                        </a>
                    </li>

                    <li class="media-item">
                        <img src="/fao/images/gathering_data.png" alt="Gathering Data"
                             class="media-image img-responsive">
                        <h3 class="media-heading">Gathering Data</h3>
                        <a href="/dataset?Q2=Gathering+data" title="Gathering Data" class="media-view">
                            <span>View all Gathering Data Activities</span>
                        </a>
                    </li>

                    <li class="media-item">
                        <img src="/fao/images/implementing_practices.png" alt="Implementing Practices"
                             class="media-image img-responsive">
                        <h3 class="media-heading">Implementing Practices</h3>
                        <a href="/dataset?Q1=Implementing+practices" title="Implementing Practices" class="media-view">
                            <span>View all Implementing Practices Activities</span>
                        </a>
                    </li>

                    <li class="media-item">
                        <img src="/fao/images/increasing_knowledge.png" alt="Increase Knowledge"
                             class="media-image img-responsive">
                        <h3 class="media-heading">Increase Knowledge</h3>
                        <a href="/dataset?Q1=Increase+knowledge" title="Increase Knowledge" class="media-view">
                            <span>View all Increase Knowledge Activities</span>
                        </a>
                    </li>

                </ul>

                <ul class="pager">
                    <li class="next"><a href="/dataset">See all</a></li>
                </ul>

            </div>
        </div>
        <!-- E ACTIVITIES -->


        <!-- S GEO -->
        <div class="row row6 geo">
            <div class="col-xs-12 box">

                <h3>Geographic Focus</h3>

                <ul class="media-grid" data-module="media-grid">

                    <li class="media-item">
                        <img src="/fao/images/world.png" alt="Global" class="media-image img-responsive">
                        <h3 class="media-heading">Global</h3>
                        <a href="/dataset?Q3=Global" title="Global" class="media-view">
                            <span>View all Global Resources</span>
                        </a>
                    </li>

                    <li class="media-item">
                        <img src="/fao/images/continent-africa.png" alt="Africa"
                             class="media-image img-responsive">
                        <h3 class="media-heading">Africa</h3>
                        <a href="/dataset?Q3=Africa" title="Africa" class="media-view">
                            <span>View all Africa Resources</span>
                        </a>
                    </li>

                    <li class="media-item">
                        <img src="/fao/images/continent-asia.png" alt="Asia"
                             class="media-image img-responsive">
                        <h3 class="media-heading">Asia</h3>
                        <a href="/dataset?Q3=Asia" title="Asia" class="media-view">
                            <span>View all Asia Resources</span>
                        </a>
                    </li>

                    <li class="media-item">
                        <img src="/fao/images/continent-america.png" alt="America"
                             class="media-image img-responsive">
                        <h3 class="media-heading">America</h3>
                        <a href="/dataset?Q3=America" title="America" class="media-view">
                            <span>View all America Resources</span>
                        </a>
                    </li>


                </ul>

                <ul class="pager">
                    <li class="next"><a href="/dataset">See all</a></li>
                </ul>

            </div>
        </div>
        <!-- E GEO -->


    </div>
</div>
<!-- E TEMPLATE 20180724-->
