<div class="container-fluid">
    <footer class="fao-footer">
        <ul> 
            <li>
                <a href="http://www.fao.org/contact-us/" target="_blank" rel="noopener noreferrer">
                    Contact us
                </a>
            </li>
            <li>
                <a href="http://www.fao.org/contact-us/terms/" target="_blank" rel="noopener noreferrer">
                    Terms and Conditions
                </a>
            </li>
            <li>
                <a href="http://www.fao.org/contact-us/scam-alert/" target="_blank" rel="noopener noreferrer">
                    Scam Alert
                </a>
            </li>
            <li>
                <a href="http://www.fao.org/contact-us/report-fraud/" target="_blank" rel="noopener noreferrer">
                    Report Misconduct
                </a>
            </li>
        </ul>
        <div class="copyright">© FAO,&nbsp;2020</div>
    </footer>
</div>
