<div class="container-fluid">
    <footer class="fao-footer">
        <ul> 
            <li>
                <a href="/contact-us/en/" target="_top" class="internal-link">
                    Contact us
                </a>
            </li>
            <li>
                <a href="/contact-us/terms/en/" class="internal-link" target="_top">
                    Terms and Conditions
                </a>
            </li>
            <li>
                <a href="/contact-us/scam-alert/en/" class="internal-link" target="_top">
                    Scam Alert
                </a>
            </li>
            <li>
                <a href="/contact-us/report-fraud/en/" class="internal-link" target="_top">
                    Report Misconduct
                </a>
            </li>
        </ul>
        <div class="copyright">© FAO,&nbsp;2020</div>
    </footer>
</div>
