{% ckan_extends %}

{% block package_license %}{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('dataset_read', _('Dataset'), id=pkg.name) }}
  {{ h.build_nav_icon('dataset_groups', _('Groups'), id=pkg.name) }}
{% if c.userobj %}
  {{ h.build_nav_icon('dataset_activity', _('Activity Stream'), id=pkg.name) }}
{% endif %}
{% endblock %}

  {% block package_organization %}
    {% if pkg.organization %}
      {% set org = h.get_organization(pkg.organization.name) %}
      {% snippet "snippets/fao_organization_logo.html", organization=org, has_context_title=true %}
    {% endif %}
  {% endblock %}